<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.url }}"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ site.baseurl }}algoritmos.html">Algoritmos</a></li>
          <li><a href="{{ site.baseurl }}java.html">Java</a></li>
          <li><a href="{{ site.baseurl }}spring.html">Spring</a></li>
          <li><a href="{{ site.baseurl }}docker.html">Docker</a></li>
          <li><a href="{{ site.baseurl }}kafka.html">Apache Kafka</a></li>
          <li><a href="{{ site.baseurl }}kotlin.html">Kotlin</a></li>
          <li><a href="{{ site.baseurl }}elixir.html">Elixir</a></li>
          <li><a href="{{ site.baseurl }}alexa-skills.html">Alexa</a></li>
        <li><a href="{{ site.baseurl }}projects.html">Portafolio</a></li>
      </ul>
    </div>
  </div>
</nav>
